* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    font-family: Helvetica, system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
    height: 100vh;
    margin: 0; 
    padding: 0;
}
#dashboard {
    width: 100%;
    height: 100vh
}
#initialgrid {
    display: grid;
    grid-template-rows: repeat(5, 20%);
    grid-template-columns: repeat(5, 20%);
    width: 100%;
    height: 100%;
}
.progressbar {
    background-color: rgb(122, 171, 245);
    grid-area: 1/1/6/1;
    padding: 1rem 0rem 0rem 2rem;
}
.intro {
    background-color: white;
    grid-area: 1/2/2/6;
    padding: 0rem 2rem;
    display: grid;
    grid-template: 50% 50% / 70% 30%;
}
.searchbar {
    padding: 2rem;
}
.control > h3 {
    font-weight: 500;
    font-size: 1.2rem;
    text-align: left;
    margin-left: 1rem;
}
.control {
    margin: 0%;
    padding: 0%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.controls2, .controls1 {
    margin-top: 4rem;
}
.dshlogo > h1 {
    font-size: 2rem;
    font-weight: 500;
    color: white;
}
.img {
    width: 20%;
    height: 100%;
}
/* Hover animations */
.control:hover {
    background-color: rgb(242, 249, 255);
    border-left: 0.3rem solid rgb(246, 242, 11);
    border-radius: 0.2rem;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
    padding: 0.5rem 2rem 0.5rem 1.5rem;
    width: fit-content;
}
.search {
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.name {
    display: flex;
    margin: 1rem;
    width: 100%
}
input {
    padding: 0.2rem;
    border-radius: 12px;
    background-color: rgb(224, 232, 234);
    width: 35rem;
    margin-left: 1rem;
    border: none;
}
.name {
    display: flex;
    margin-left: 5rem;
    width: 15rem;
    justify-content: space-around;
    align-items: center;
    padding: 0%;
    height: 50%;
    margin-top: 1.2rem;
}
.avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgb(255, 146, 173);
}

.avatar > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.username {
    display: block;
}
.uname {
    display: flex;
    align-items: center;
    padding: 2rem;
    margin-bottom: 0.5rem;
}
.unameavatar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1rem;
}
.unameavatar > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.uname > div > p {
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
}
.introbtns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ibtn {
    width: 5.6rem;
    height: 1.5rem;
    border-radius: 1rem;
    background-color: rgb(56, 133, 249);
    padding: 0.2rem;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ibtn > p {
    font-size: 0.9rem;
    color: white;
    text-align: center;
}
.projects {
    padding: 1rem;
    display: flex;
    background-color: rgb(221, 221, 221);
    grid-area: 2/2/6/6;
}
.yourprojects {
    width: 65%;
    padding-left: 1rem;
}
.allprojects {
    margin-top: 1rem;
    display: grid;
    grid-template: 30% 30% 30% / 50% 50%;
    justify-content: space-between;
    align-content: space-between;
    width: 95%;
}
.project {
    color: black;
    background-color: white;
    border-left: solid 0.5rem rgb(244, 157, 26);
    border-radius: 0.5rem;
    height: 9rem;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
}
h2 {
    font-size: 1.2rem;
    display: grid;
    grid-template-rows: 70% 30%;
}
.project > p {
    font-weight: 100;
    font-size: 0.9rem;
    margin-top: 0.7rem;
}
.project > div {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 1rem;
}
.project > div > img {
    padding: 0rem 0.7rem;
    width: 1.1rem;
}
.youracmnts {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: left;
}
.anouncements {
    height: 50%;
}
.trending {
    height: 50%
}
.anctext {
    margin-top: 1rem;
    background-color: white;
    padding : 1rem 2rem;
    width: 60%;
    height: 70%;
    display: flex;
    border-radius: 0.5rem;
    flex-direction: column;
    justify-content: space-evenly;;
    align-content: space-evenly;
}
.line {
    height: 0.1rem;
    background-color: rgb(218, 218, 218);
}
.anctext > div > p {
    margin-top: 0.2rem;
    color: grey;
    font-size: 0.7rem;
}
.trdtext {
    margin-top: 1rem;
    background-color: white;
    padding : 1rem 2rem;
    width: 60%;
    height: 73%;
    display: flex;
    border-radius: 0.5rem;
    flex-direction: column;
    align-content: space-around;
    overflow: hidden;
}
.trdtext > .uname {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-bottom: 0.5rem;
}
.trdtext > .unameavatar {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 0.5rem;
}
.trdtext > .uname > div > p {
    font-size: 0.7rem;
    font-weight: 200;
}
.trdtext > .uname > div > h3 {
    font-size: 0.5rem;
    font-weight: 100;
}
.unameavatar > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}